/* TODO: needed chaney lower case  */
@font-face{
    font-family: 'CHANEY';
    font-weight: normal;
    font-style: normal;
    src: url('CHANEY-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('./PretendardVariable.woff2') format('woff2-variations');
}

@font-face{
    font-family: 'SB AggroOTF';
    font-weight: normal;
    font-style: normal;
    src: url('SB-Aggro-M.ttf') format('truetype');
}

@font-face {
    font-family: "Ubuntu";
    src: url("./ubuntu/Ubuntu-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Ubuntu";
    src: url("./ubuntu/Ubuntu-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
      font-family: "Ubuntu";
      src: url("./ubuntu/Ubuntu-Medium.ttf") format("truetype");
      font-weight: medium;
      font-style: normal;
    }
    
    @font-face {
      font-family: "Ubuntu";
      src: url("./ubuntu/Ubuntu-MediumItalic.ttf") format("truetype");
      font-weight: medium;
      font-style: italic;
    }
  
  @font-face {
    font-family: "Ubuntu";
    src: url("./ubuntu/Ubuntu-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Ubuntu";
    src: url("./ubuntu/Ubuntu-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: "Ubuntu";
    src: url("./ubuntu/Ubuntu-Light.ttf") format("truetype");
    font-weight: light;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Ubuntu";
    src: url("./ubuntu/Ubuntu-LightItalic.ttf") format("truetype");
    font-weight: light;
    font-style: italic;
  }