@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./fonts/stylesheet.css');

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.zoomIn {
  transform: scale(1.0);
}

.zoomIn.active {
  animation: zoom-in 1.1s;
}

@keyframes zoom-in {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.2);
  }
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-bottom-text {
  animation: fade-bottom-text 1.1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-bottom-text {
  0%, 11% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#portfolio-item:hover > #mask {
    display: block;
    
}

#portfolio-item:not(:hover) > #mask {
    display: hidden;
}

#portfolio-item:hover > #mask-text {
  position: absolute;
  white-space: nowrap;
  opacity: 100%;
  animation: revealText 1.5s;
}

#portfolio-item:hover > #mask-text > #desc {
  animation: textLoop 20s;
  animation-timing-function: linear;
}

@keyframes revealText {
  from {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes textLoop {
  0%, 5% {
    transform: translate3d(0%, 0, 0);
  }
  100% {
    transform: translate3d(-110%, 0, 0);
  }
}

.panel {
  display: flex;
  flex: 0 0 33%;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  padding: 10rem 7rem 2rem 7rem;
  background-color: transparent;
  overflow: hidden;
}


/* auto-scrolling */

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

.slider {
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  content: "";
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(270px * 10 * 3);
  align-items: center;
}
